{% extends 'base.html.twig' %}

{% block title %}Soutenances of {{ enseignant.nom }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ enseignant.nom }}'s Soutenances</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Date of Soutenance</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for soutenance in soutenances %}
                        <tr>
                            <td>{{ soutenance.dateSoutenance|date('Y-m-d') }}</td>
                            <td>{{ soutenance.note }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2" class="text-center">No records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
                    <a href="{{ path('app_enseignant_index') }}" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
    </div>
{% endblock %}
